<!DOCTYPE html>
<html lang="en" dir="rtl">
{% load staticfiles %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital marketing agency</title>
  <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <!-- Start of the navbar -->
  <nav class="white navbar-fixed">
    <div class="container">
      <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo">
          <img src="{% static 'img/logo.png' %}" width="150" alt="logo">
        </a>
        <ul class="left hide-on-med-and-down small-dash pr-2">
          <li><a href="#"><i class="fab fa-1x fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-1x fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-1x fa-linkedin"></i></a></li>
        </ul>
        <ul id="nav-mobile" class="left hide-on-med-and-down pl-2">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="{% url 'service' %}">Services</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a href="#">Contact us</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- End of the navbar -->

  <!-- Start of the description -->
  <div class="row flex">
    <div class="col l8" style="background-image: url('img/03.jpg'); background-size: cover;"></div>
    <div class="col l4">
      <div class="section-padding-a pr-3">
        <h3>מיתוג</h3>
        <p class="light-dark-text"> הוא פשוט טקסט דמה של ענף ההדפס והקליע היה הטקסט המקובל בתעשייה מאז שנות ה, אז מדפסת
          לא ידועה לקחה מטען מסוג זה וערפה אותו כדי ליצור דגימה מהסוג.</p>
      </div>
    </div>
  </div>
  <!-- images goes here -->
  <div class="container">
    <div class="row">
      {% for photo in photos %}
      <div class="col l12">
        <img src="{{photo.images.url}}" class="responsive-img" data-aos="fade-up" alt="">
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- End of the description -->

  <!-- Related project -->
  <div class="container">
    <div class="row section-padding-a">
      <h5>Related Projects</h5>
      {% for p in projects %}
      {% if p.id != project.id %}
      <div class="col l4" data-aos="fade-up">
        <div class="card card-shadow">
          <div class="card-image">
            <img class="responsive-img" src="{{p.image.url}}" alt="">
          </div>
          <div class="card-content center-align">
            <a href="{% url 'project_detail' p.category p.id %}"
              class="heading-small dark-text">{{p.title}}</a>
            <p class="paragraph-small">{{p.category}}</p>
        
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- End of related project -->
  <!-- start of the footer -->
  <footer class="bgm-dark">
    <div class="container">
      <div class="row section-padding-a">
        <div class="col l3 right right-align">
          <a href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" width="180" class="responsive-img" alt="">
          </a>
          <p>From the world's most trusted businesses to breakout startups, we help create the brand experiences of the
            future through a creative culture rooted in entrepreneurship and partner collaboration.</p>
          <span class="right social-icons">
            <a href="#">
              <i class="fab fa-1x fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-1x fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-1x fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-1x fa-facebook-f"></i>
            </a>
          </span>
        </div>
        <div class="col l3 right right-align">
          <h6 class="footer-heading mb-2">CONTACT INFO</h6>
          <p class="mt-1">Creative Nuts Studio 202/B, 18th C Main Rd, HAL 2nd Stage, Kodihalli, Bengaluru, Karnataka
            560008</p>
          <p class="mt-1">
            Email: email@gmail.com<br />
            Phone: 012 012 103030<br />
            <a href="#" class="footer-link">View direction</a>
          </p>
        </div>
        <div class="col l3 right right-align">
          <h6 class="footer-heading mb-2">ADDITIONAL LINKS</h6>
          <a href="#" class="footer-link">Brand Strategy</a>
          <a href="#" class="footer-link">Brand Identity</a>
          <a href="#" class="footer-link">Digital Marketing</a>
          <a href="#" class="footer-link">Website Design & Development</a>
          <a href="#" class="footer-link">Design Communication</a>
          <a href="#" class="footer-link">Video Production</a>
        </div>
      </div>
    </div>
    <div class="bottom-footer bgm-light-dark">
      <div class="container">
        <div class="row section-padding-a-min">
          <div class="col l12">
            <span class="footer-p">© 2020 All rights reserved by Creative Nuts</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End of the footer section -->

  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>